// Template colors
$twitter-light-gray: #aab8c2;
$twitter-light-gray-lite: #eef0f2;
$google-blue: #4285f4;
$google-blue-lite: #d9e6fc;
$google-red: #db4437;
$google-red-lite: #f7d9d7;
$google-yellow: #f4b400;
$google-yellow-lite: #fcf0cc;
$google-green: #0f9d58;
$google-green-lite: #cfebdd;
$insta-dark-pink: #c13584;
$insta-dark-pink-lite: #f2d6e6;
$insta-purple: #833ab4;
$insta-purple-lite: #e6d7f0;
$insta-orange: #f77737;
$insta-orange-lite: #fde3d7;
$wp-teal-green: #128c7e;
$wp-teal-green-lite: #cfe8e5;
$wp-light-green: #25d366;
$wp-light-green-lite: #d3f6e0;
$primary-color: #00635b;
$primary-color-lite: #ccdfde;

$theme-colors2: (
  "twitter-light-gray": $twitter-light-gray,
  "twitter-light-gray-lite": $twitter-light-gray-lite,
  "google-blue": $google-blue,
  "google-blue-lite": $google-blue-lite,
  "google-green": $google-green,
  "google-green-lite": $google-green-lite,
  "google-red": $google-red,
  "google-red-lite": $google-red-lite,
  "google-yellow": $google-yellow,
  "google-yellow-lite": $google-yellow-lite,
  "insta-dark-pink": $insta-dark-pink,
  "insta-dark-pink-lite": $insta-dark-pink-lite,
  "insta-purple": $insta-purple,
  "insta-purple-lite": $insta-purple-lite,
  "insta-orange": $insta-orange,
  "insta-orange-lite": $insta-orange-lite,
  "wp-teal-green": $wp-teal-green,
  "wp-teal-green-lite": $wp-teal-green-lite,
  "wp-light-green": $wp-light-green,
  "wp-light-green-lite": $wp-light-green-lite,
  "primary-color": $primary-color,
  "primary-color-lite": $primary-color-lite,
  "border-gray": #efefef,
) !default;

@each $color, $value in $theme-colors2 {
  .bg--#{$color} {
    background-color: #{$value};
  }
  .text--#{$color} {
    color: #{$value};
  }

  .color--#{$color} {
    color: #{$value};
  }
  .border--#{$color} {
    border: 1px solid #{$value};
    border-radius: 6px;
  }
  .focus-border--#{$color} {
    box-shadow: none;
    &:focus {
      border: 1px solid #{$value};
    }
  }
  .btn--#{$color} {
    background-color: #{$value};
    color: white;
    & > i {
      color: white;
    }
    &:hover {
      border: 1px solid #{$value};
      color: #{$value};
      background-color: white;
      & > i {
        color: #{$value};
      }
    }
  }
  .btn-hover--#{$color} {
    &:hover {
      background-color: #{$value};
      color: white;
      & > button,
      i {
        background-color: #{$value};
      }
    }
  }
  .begin-btn-hover--#{$color} {
    &:hover {
      &,
      & > button,
      i {
        background-color: #{$value};
        color: white;
      }
    }
  }
  .begin-btn--#{$color} {
    &,
    & > button,
    i {
      background-color: #{$value};
      color: white;
    }
  }
}
p {
  color: black;
}
button {
  color: $primary-color;
  background-color: white;
  border: 1px solid $primary-color;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
.main-content {
  position: fixed;
  top: 30%;
}
.wrapper {
  width: 100%;
  height: 100%;
}

//To animate the upcoming questions
@keyframes MyAnimation {
  0% {
    padding-left: 100px;
  }
  100% {
    padding-left: 0px;
  }
}

.ques-animation {
  animation: MyAnimation 1s;
}

.loading_spinner {
  height: 100vh;
  width: 100vw;
  padding-top: 40vh;
  text-align: center;
}
