<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel" style="color: black">
    Unlock Template
  </h5>
</div>
<div class="row justify-content-center">
  <div class="row" style="text-align: center">
    <div class="col">
      <img
        src="./../../../../assets/ill-purchase.svg"
        style="max-width: 300px; max-height: 300px"
      />
      <p class="h3 text-muted">
        Do you want to purchase the template? It will cost you 2 HU coins!
      </p>
    </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-between">
  <button class="btn rounded" (click)="purchase()">Purchase</button>
  <button class="btn rounded" (click)="closeModal()">Cancel</button>
</div>
