$nav-link-hover-bg: #eeeeee;
$nav-tabs-border-color: #dddddd;
$border-radius-base: 5px;
$screen-xs-max: 767px;

#canvas-holder {
  height: 100px;
  width: 100px;
  position: relative;
}

.chart-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.loading_spinner {
  height: 100%;
  width: 100%;
  padding-top: 20vh;
  text-align: center;
}

input[type="checkbox"] {
  visibility: hidden;
  &:checked + label {
    transform: rotate(360deg);
    background-color: #00635b;
    &:before {
      transform: translateX(30px);
      background-color: #fff;
    }
  }
}

label {
  display: flex;
  width: 60px;
  height: 30px;
  border: 3px gray solid;
  border-radius: 8em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;

  &:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    top: -10;
    height: 24px;
    background-color: #00635b;
    border-radius: 50%;
  }
}

.tab-content {
  padding: 10px;
}

.empty_block {
  text-align: center;
  margin-top: 1%;
  > img {
    background: center center fixed;
    padding: 1%;
    width: 220px;
    height: 200px;
  }
}
