.accordion {
  padding: 2%;
  border-radius: 1rem;
}

.accordion-button {
  background-color: #e5efee;
  font-size: 18px;
}

.empty_block {
  text-align: center;
  > img {
    background: center center fixed;
    padding: 1%;
    width: 220px;
    height: 200px;
  }
}

.card-info-row {
  padding: 0 4px;
}
.question-total {
  background-color: #00635b;
  width: auto;
  color: white;
  padding: 4px 8px;
  margin: -10px 0 8px 9px;
  border-radius: 0.5rem;
}
.card-info {
  border: 1px solid lightgrey;
  border-left: 8px solid #00635b;
  border-radius: 0.6rem;
  &-row {
    font-size: 16px;
  }
}

.assigned-survey-footer {
  > p {
    height: auto;
  }
}
.category-image {
  height: 160px;
}

.main-content {
  color: #383636;
}

.category-public-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.material-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 24px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  visibility: hidden;
  &:checked + label {
    transform: rotate(360deg);
    background-color: #00635b;
    &:before {
      transform: translateX(30px);
      background-color: #fff;
    }
  }
}

label {
  display: flex;
  width: 60px;
  height: 30px;
  border: 3px gray solid;
  border-radius: 8em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;

  &:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    top: -10;
    height: 24px;
    background-color: #00635b;
    border-radius: 50%;
  }
}

.loading_spinner {
  height: 100%;
  width: 100%;
  padding-top: 10vh;
  text-align: center;
}

.colored-btn {
  padding: 4px;
  width: 100px;
  border: none;
  background-color: #00635b;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  :disabled {
    background-color: #495057;
  }
  &:hover {
    border: 0.3px solid #00635b;
    background-color: transparent;
    color: #00635b;
  }
}

// .vertically-center {
//   margin-top: 15%;
//   @media (max-width: 767px) {
//     margin-top: 0;
//   }
// }
