<div class="wrapper container-fluid">
  <div class="header" style="margin-top: 12px">
    <h4 class="text-muted">Builder Error</h4>
    <hr style="margin-top: -3px" />
  </div>

  <div class="container">
    <div class="row" style="text-align: center">
      <div class="col">
        <img
          src="./../../../assets/ill-survey.svg"
          style="max-width: 300px; max-height: 300px"
        />
        <p class="h3 text-muted">Survey doesn't exist</p>
      </div>
    </div>
  </div>

  <div>
    <hr />
    <button class="btn rounded my-2" (click)="newSurvey()">+ New Survey</button>
  </div>
</div>
