$primary-color: #00635b;
$secondary-color: #a9dfda;
button {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: white;
  &:hover {
    color: white;
    background-color: $primary-color;
  }
}
p {
  color: black;
}
