.loading_spinner {
  height: 100%;
  width: 100%;
  padding-top: 50vh;
  text-align: center;
}
// app-side-bar {
//   position: fixed;
//   overflow-x: hidden;
//   // z-index: 1;
// }
// #content {
//   margin-left: 10%;
// }
